/***** Start *****/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: auto auto;
    padding: 0;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
}

.main-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 242, 217);
}

/***** NAV *****/

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
 } 

 .logo{
    max-width: 60px;
 }

 .nav-item1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110,237,199);
    color:black;
    width: 13rem;
    height: 2rem;
    text-decoration: none;
    font-size:large;
    font-weight: bold;
    border-radius: 5px;
    font-style: oblique;
    font-family: cursive;
 }

 .nav-item2{
    display: none;
    text-decoration: none;
    color: black;
    font-family: cursive;
 }

 .nav-item3{
    display: none;
    text-decoration: none;
    color: black;
    font-family: cursive;
 }

 .nav-item4{
    display: none;
    text-decoration: none;
    color: black;
    font-family: cursive;
}

/***** Start-background *****/

 .img-container{
    width: 400px;
    height: 230px;
    position: relative;
 }

 .start-img{
    object-fit:cover;
    max-width: 100%;
    max-height: 100%;
 }

 .start-overflow{
    background-color:rgba(57, 57, 57, 0.5);
    width: 15rem;
    height: 45%;
    position: absolute;
    text-align:center;
    top:50%;
    right:50%;;
    transform:translate(50%, -50%);
    opacity: 0.8;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
  }

  .start-hr{
    background-color: rgb(110,237,199);
    width: 6rem;
    height: 0.2rem;
    margin: 0.4rem auto;
    opacity: 0.8;
    border-style: none;
  }

  .start-h{
    font-weight: bold;
    font-size: large;
    color: rgb(255, 255, 255);
    letter-spacing: 0.2rem;
    margin-top: 1rem;
  }

  .start-p{
    font-size:xx-small;
    color: rgb(236, 236, 236);
  }

  .room-btn{
    margin-top:4rem;
    background-color: rgb(110,237,199);
    color: black;
    font-family:serif;
    font-size: x-small;
    border-style: none;
    padding: 0.1rem;
  }

/***** About us *****/
.about-us{
  display: none;
  justify-content: center;
}

/***** Services section *****/

  .service-header{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    box-shadow: 6px 6px 0px 0px rgb(110,237,199);
    width: 5rem;
    border-radius: 10px;
    opacity: .8;
  }

  .service-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: .5rem; 
    margin-bottom: 2rem;
  }

  .service-h{
    font-size: small;
  }

  .service-hr{
    display: inline-block;
    background-color: rgb(110,237,199);
    height: 0.2rem;
    width: 3rem;
  }

  .service-p{
    margin-top: .7rem;
    margin-bottom: 1rem;
    font-size: small;
  }

  .service-item5{
    display: none;
  }

/* Rooms */
  .rooms-header{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    box-shadow: 6px 6px 0px 0px rgb(110,237,199);
    width: 9rem;
    margin-bottom: 2rem;
    opacity: 0.8;
    border-radius: 10px;
    font-family: sans-serif;
  }

/* Image gallery  */
.responsive {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  max-width: 70%;
  gap: 2rem;
}

.gallery{
  position: relative;
}
.gallery img {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: -.2rem;
}

.room-price{
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  background-color: black;
  opacity: 0.6;
  color: white;
  font-size: small;
  padding: .1rem;
}

.price-p{
  margin-top: -.2rem;
}

.room-info {
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0px 1px 11px 0px rgba(128,128,128,1);
  font-size: large;
  font-weight: bolder;
}

footer{
  display: none;
  padding-bottom: 3rem;
}


/***** Booking sida 2*****/
/***** Booking sida 2*****/
/***** Booking sida 2*****/


.booking-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 242, 217);
}

/***** NAV *****/

.nav-bar{
  display: flex;
  align-items: center;
  width: 100vw;
  font-weight: bold;
  font-size: xx-small;
  margin: 0.2rem;
} 

.b-img-container{
  width: 400px;
  height: 230px;
  position: relative;
}

.booking-img{
  object-fit:cover;
  max-width: 100%;
  max-height: 100%;
}

.booking-overflow{
  background-color:rgba(249, 247, 247, 0.5);
  width: 15rem;
  height: 6rem;
  position: absolute;
  text-align:center;
  top:50%;
  right:50%;;
  transform:translate(50%, -50%);
  opacity: 0.8;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
}

.booking-hr{
  background-color: rgb(110,237,199);
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem auto;
  opacity: 0.8;
  border-style: none;
}

.booking-h{
  font-weight: bold;
  font-size: large;
  color:white;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  font-family: sans-serif;
}

.home-btn{
  margin-top:4rem;
  background-color: rgb(110,237,199);
  color: black;
  font-family:sans-serif;
  font-size: x-small;
  border-style: none;
  padding: 0.1rem;
  font-family: sans-serif;
  text-decoration: none;
}

/***** Search section *****/
.search-header{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: x-large;
}

.search-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 1rem 1rem 3rem;
    gap: 2rem;
    height: auto; 
    font-size: 1.2rem;
    padding: .9rem;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    background-color: rgb(231, 231, 231);
    opacity: 0.8;
}

select {
    width: 6rem;
    background-color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 5px;
}

/***** Price range slider *****/
.price-slide{
  display: flex;
  text-align: center;
  gap: 1rem;
}

/* Room size input */
.size-header{
  display: inline; /* anv채nd display:flex till stora sk채rm */
  justify-content: start;
  margin-right: .1rem;
}

input[type="number"] {
  width: 80px;
  display: inline;
  border-radius: 5px;
  height: 1.5rem;
  border-style:outset;
}

/***** Checkbox *****/
input[type="checkbox"]{
  display: inline-flex;
}

label{
  margin-left: 1rem;
}

/***** Booking Image gallery  */
.flexi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
  margin-left: 1rem;
}

.b-item1 img, .b-item2 img,.b-item3 img,.b-item4 img {
  display: flex;
  width: 90%;
  height: auto;
  position: relative;
} 

.b-item1, .b-item2, .b-item3, .b-item4{
  position: relative;
}

.b-room-price{
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  background-color: black;
  opacity: 0.6;
  color: white;
  font-size: x-small;
  padding: .1rem;
}

.b-price-p{
  margin-top: -.1rem;
  font-size: x-small;
}

.b-room-i {
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0px 1px 11px 0px rgba(128,128,128,1);
  width: 90%;
  font-size: large;
  font-weight: bolder;
}

/***** Rooms Sida 3 *****/
/***** Rooms Sida 3 *****/
.rooms-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 242, 217);
}

/***** Rooms sida 3  *****/

/* Room background */
.r-img-container{
  width: 400px;
  height: 230px;
  position: relative;
}

.rooms-img{
  object-fit:cover;
  width: 100%;
  height: 100%;
}

.rooms-overflow{
  background-color:rgba(57, 57, 57, 0.725);
  width: 15rem;
  height: 45%;
  position: absolute;
  text-align:center;
  top:50%;
  right:50%;;
  transform:translate(50%, -50%);
  opacity: 0.8;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
}

.rooms-hr{
  background-color: rgb(110,237,199);
  width: 6rem;
  height: 0.2rem;
  margin: 0.4rem auto 0.5rem;
  opacity: 0.8;
  border-style: none;
}

.rooms-h{
  font-weight: bold;
  font-size: large;
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
  margin-top: 2rem;
}

.rooms-btn{
  margin-top:4rem;
  background-color: rgb(110,237,199);
  color: black;
  font-size: small;
  border-style: none;
  padding: 0.15rem;
  text-decoration: none;
  font-family: sans-serif;
}

/* About the suite */
.about-suite{
  margin: 1rem auto 0rem;
  font-style: oblique;
  font-family: cursive;
}
.room-hr{
  width: 8rem;
  margin: 0rem auto 1rem;
  background-color: rgb(110,237,199);
}
/* Rooms gallery*/
.sand-h{
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
.room-flexi{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6rem;
  max-width: 100%;
  margin: auto auto;
  padding: .5rem;
}

.room-img1 img{
  width: 100%;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.room-img2 img{
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
} 

.room-img3 img{
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
} 

.room-img1{
  grid-column: 1/1;
}

.room-img2{
  grid-column: 2;
  grid-row: 2;
}

.room-img3{
  grid-column: 3;
}

.room-text1{
  grid-column: 2;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  font-style: oblique;
}

.room-text2{
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  font-style: oblique;
}

.room-text3{
  grid-column: 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  font-style: oblique;
}

/* suite details section */
.details-container{
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: 1fr afr;
  margin: 1rem auto 1rem;
  padding: 1rem;
  gap: 3rem;
}
.suite-details-h, .suite-info-h, .suite-extras-h{
  font-family: cursive;
  margin-bottom: .5rem;
}
.details-3{
  grid-column: 1 / 3;
  grid-row: 2;
  display: block;
  flex-direction: row;
}

ul{
  list-style-type: "- ";
}
.suite-extras-li{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap ;
}


/***** Stor sk채rm *****/
/***** Stor sk채rm *****/
@media screen and (min-width: 420px) {
  body {
    background-color: lightblue;
    max-width: 1000px;
  }
  .main-container{
    display: inline-block;
    flex-direction: row;
    max-width: 1000px;
  }

  /***** NAV *****/

  .nav-bar{
      display: flex;
      justify-content:start;
      align-items: center;
      max-width: 1000px;
      font-weight: bold;
      margin: 0 0;
      height: 5rem;
  } 

  .logo{
      display: flex;
      max-width: 100px;
      justify-self: start;
  }

  .nav-item1{
      width: 18rem;
      height: 2.5rem;
      font-size: x-large;
  }

  .nav-item2{
    display: flex;
    font-size: x-large;
    margin-left: 10rem;
    margin-right: 5rem;
  }

  .nav-item3{
    display: flex;
    font-size: x-large;
    margin-right: 5rem;
  }

  .nav-item4{
    display: flex;
    font-size: x-large;
  }
/***** Start-background *****/

  .img-container{
    width: 1000px;
    height: auto;
 }

  .start-img{
    width: 1000px;
    height: auto;
  }

  .start-overflow{
    background-color:rgba(57, 57, 57, 0.5);
    width: 40rem;
    height: 45%;
    position:absolute;
    left: -15%;
    text-align:center;
    transform:translate(50%, -50%);
    opacity: 0.8;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
  }

  .start-h{
    margin-top: 4rem;
    font-weight: bold;
    font-size:xx-large;
    color: rgb(255, 255, 255);
    letter-spacing: 0.6rem;
  
  }

  .start-hr{
    background-color: rgb(110,237,199);
    width: 9rem;
    height: .3rem;
    margin: 1rem auto;
    opacity: 1;
    border-style: none;
    font-family: sans-serif;
  }

  .start-p{
    font-size:x-large;
    color: rgb(236, 236, 236);
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
    font-family: sans-serif;
  }

  .room-btn{
    font-size: x-large;
    border-style: none;
    padding: 0.4rem;
    font-family: sans-serif;
  }

  /***** About us *****/
  .about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 5rem;
    width: 45rem;
    background-color: rgb(110,237,199);
    padding:2rem;
    padding-top: 1rem;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    position: relative;
    opacity: 0.8;
  }
  
  .about-h{
    font-size: x-large;
    font-style: oblique;
    margin-bottom: .4rem;
    text-decoration: underline;
  }
  .about-text{
    font-size: large;
    color: rgb(0, 0, 0);
    font-weight: bolder;
  }
  /***** Start Service section *****/

  .service-header{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    box-shadow: 6px 6px 0px 0px rgb(110,237,199);
    width: 10rem;
    font-size: xx-large;
    font-style: oblique;
    border-radius: 20px;
  }

  .service-container{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    padding: 2rem; 
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .service-item1{
    grid-column: 1;
  }
  .service-item2{
    grid-column: 2;
    grid-row: 2;
  }
  .service-item3{
    grid-column: 3;
    grid-row: 1;
  }

  .service-item4{
    grid-column: 4;
    grid-row: 2;
  }

  .service-item5{
    display: block;
    grid-column: 5;
  }

  .service-h{
    font-size: x-large;
    font-style:oblique;
  }

  .service-hr{
    display: inline-block;
    height: 0.3rem;
    width: 4rem;
  }
    
  .service-p{
    font-size: large;
  }

  /* Rooms */
  .rooms-header{
    display: flex;
    justify-content: center;
    margin: 0 auto 3rem;
    box-shadow: 6px 6px 0px 0px rgb(110,237,199);
    width: 15rem;
    font-size: xx-large;
    font-style: oblique;
    border-radius: 20px;
  }

/***** Image gallery  */
  .responsive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    gap: 2rem;
    margin-bottom: 5rem;
  }
  
  .gallery img {
    width: 18rem;
    height: auto;
  }
    
  .price-h{
    font-size: large;
  }
  .price-p{
    color: white;
    font-size: small;
  }

  .room-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-shadow: 0px 1px 11px 0px rgba(128,128,128,1);
    width: 18rem;
    height: 2rem;
    font-size: larger;
  }

  footer{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    height: 4rem;
    gap: 3rem;
    opacity: 0.8;
    background-color: rgb(110,237,199);
    color: black;
    padding-bottom: 0;
    background-image:url(./Logo/bonz.ai-logo-black-symbol.png);
    background-size:5%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
  }

/***** Booking "Sida 2" *****/
/***** Booking "Sida 2" *****/
.booking-container{
  display: inline-block;
  flex-direction: row;
  max-width: 1000px;
}
.b-img-container{
    width: 1000px;
    height: auto;
}

.booking-img{
    width: 100%;
    height: auto;
}

.booking-overflow{
  background-color:rgba(115, 115, 115, 0.5);
    width: 40rem;
    height: 35%;
    position:absolute;
    left: -10%;
    text-align:center;
    transform:translate(50%, -50%);
    opacity: 0.8;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
}

.booking-h{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size:xx-large;
    color: rgb(255, 255, 255);
    letter-spacing: 0.6rem;
    font-family: sans-serif;

}

.booking-hr{
  width: 9rem;
  height: 0.3rem;
  margin-bottom: 2rem;
  background-color: rgb(110,237,199);
}

.home-btn{
  font-size: large;
  border-style: none;
  padding: 0.4rem;
  font-family: sans-serif;
}

/* Booking Search section */
.search-header{
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-size: x-large;
}

.search-container{
    display: flex;
    flex-direction: row;
    margin: 1rem auto 4rem;
    gap: 3rem;
    max-width: 900px;
    align-items: center;
}

label{
  margin-left: 0rem;
}

.price-slide{
  display: flex;
  flex-direction: column;
}

input[type="number"] {
  width: 80px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* Booking Image gallery  */
.flexi {
  margin-left: 3rem;
}

.b-item1 img, .b-item2 img,.b-item3 img,.b-item4 img {
  display: flex;
  width: 90%;
  height: auto;
  position: relative;
} 

.b-item1, .b-item2, .b-item3, .b-item4{
  position: relative;
}

.b-room-price{
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  background-color: black;
  opacity: 0.6;
  color: white;
  font-size: x-large;
  padding: .1rem;
}

.b-price-p{
  margin-top: -.1rem;
  font-size: x-large;
}

.b-room-i {
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0px 1px 11px 0px rgba(128,128,128,1);
  width: 90%;
  font-size: large;
  font-weight: bolder;
}

/***** Rooms "sida 3"  *****/
/***** Rooms "sida 3"  *****/
.rooms-container{
  display: inline-block;
  flex-direction: row;
  max-width: 1000px;
}
.r-img-container{
  width: 1000px;
  height: auto;
}
.rooms-img{
  width: 100%;
  height: auto;
}
.rooms-overflow{
  background-color:rgba(57, 57, 57, 0.725);
  width: 35rem;
  height: 35%;
  position: absolute;
  text-align:center;
  top:50%;
  right:50%;;
  transform:translate(50%, -50%);
  opacity: 0.8;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
}

.rooms-hr{
  background-color: rgb(110,237,199);
  width: 9rem;
  height: 0.3rem;
  margin: 1rem auto 2rem;
}

.rooms-h{
  font-size: xx-large;
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
  margin-top: 4rem;
  font-family: sans-serif;
}

.rooms-btn{
  margin-top:rem;
  background-color: rgb(110,237,199);
  color: black;
  font-size: large;
  border-style: none;
  padding: 0.15rem;
  text-decoration: none;
  font-family: sans-serif;
}

/* About the suite */
.about-suite{
  margin: 1rem auto 0rem;
  font-style: oblique;
  font-family: cursive;
  font-size: x-large;
}
.room-hr{
  width: 11rem;
  margin: 0rem auto 1rem;
  background-color: rgb(110,237,199);
}
/* Rooms gallery*/

.room-flexi{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
  padding: .5rem;
  margin-bottom: 3rem;
}

.room-img1 img{
  width: 100%;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.room-img2 img{
  width: 100%;
  height: auto;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
} 

.room-img3 img{
  width: 100%;
  height: auto;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
} 

.room-img1{
  grid-column: 1/1;
  grid-row: 1;
}

.room-img2{
  grid-column: 2;
  grid-row: 2;
}

.room-img3{
  grid-column: 3;
  grid-row: 1;
}

.room-text1, .room-text2, .room-text3{
  font-size: x-large;
}

/* suite details section */
.details-container{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 1rem auto 1rem;
  padding: 1rem;
  gap: 2rem;
  text-align: center;
}
.suite-details-h, .suite-info-h, .suite-extras-h{
  font-family: cursive;
  margin-bottom: .5rem;
  font-size: x-large;
}
.details-1, .details-2, .details-3{
  grid-column: 1;
  display: inline;
  flex-direction: row;
  margin: auto auto;
  font-size: x-large;
  margin: 1rem;
  text-align: center;
}

.suite-extras-li{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

}
